<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Clima Tempo</title>
	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" />
</head>

		
<body>
	<div class="panel panel-default">
        <div align="center">
			<h1 style="margin:10px"><b> PREVISÃO DO TEMPO</b></h1>
		</div>
            <div class="panel-heading" align="center" >
				<h3 class="panel-display-4"><b>São Paulo - SP</b></h3>
			 </div>
		  <div class="panel-body">
			<table class="table">
				<thead>
					<tr>   
						<th>Data</th>
                        <th>Dia Semana</th>
						<th>Temp.Min</th>
						<th>Temp.Max</th>
						<th>Umidade relativa</th>
						<th>Descrição</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        
					</tr>
					
				</thead>
				<tbody>
					<tr th:each="prev:${previsoesTemp}">
					 		<td th:text="${prev.data}"></td>
							<td th:text="${prev.semana}"></td>
							<td th:text="${prev.tempMin} + ' °CC'"></td>
							<td th:text="${prev.tempMax} + ' °CC'"></td>
							<td th:text="${prev.umi} + '%'"></td>
							<td th:text="${prev.descricao}"></td>
							<td th:text="${prev.la}"></td>
							<td th:text="${prev.lo}"></td>	
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>